<div class="article-page">

  <div class="banner" style="background-color: white">
    <div class="container">
      <h1>{{ package.destination }}</h1>

      <angular-image-slider [images]="carouselImages"></angular-image-slider>
    </div>
    
  </div>

  <div class="container">
    <angular-image-slider [images]="carouselImages"></angular-image-slider>
  </div>

  <div class="content"> 
    <h2>Flight</h2>
    <h3>Price: ${{ package.flight.cost }} </h3>
    <h4>Flight Number: {{ package.flight.departingFlight.departureFlightId }}</h4>
    <h4>Depart From: {{ package.flight.departingFlight.departureLoc }}</h4>
    <h4>Arrive At: {{ package.flight.departingFlight.arrivalLoc }}</h4> 


  </div>


</div>