<div class="container">
  <br/> 
  <h1 style="text-align: center">Enter your preferences</h1>
  <form>
    <div class="form-group">
      <label for="budget">Budget</label>
      <input style="width: 30%; text-align: center" type="text" class="form-control" id="budget" required>
    </div>

    <div class="form-group">
      <label for="category">Category</label>
      <br/> 
      <select name="cars">
        <option value="beach">Beach/Resort</option>
        <option value="urban">Urban</option>
        <option value="family">Children/Family Friends</option>
        <option value="nature">Nature</option>
      </select>
   </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>