<div style="width: 65vw" class="article-preview">
    <a [routerLink]="['/package']" [queryParams]={destination:article.destination} class="preview-link">
      <div class = "colContainer"> 
        <div class="content">
              <p style="font-size: 10vh; margin-top: 3vh; color: black">{{ article.destination }}</p>
              <ul class="tag-list">
              </ul>
              <br/>         
              <br/>
              <p style="font-size: 5vh; color: green">${{ article.price }}</p>
            </div>
            
            <div class="content">
              <img style=" height: 40vh" src={{article.destinationphoto}}>
            </div>
        </div>
    </a>
      

  


</div>







